{% render 'partials/head.liquid', title: 'Squad page' %}

<script src="script.js"></script>

<h1>Squad 1G</h1>

<details>
  <summary>Sorteer</summary>
  <a href="/?sort=az">A-Z</a>
  <a href="/?sort=za">Z-A</a>
  <a href="/?sort=birthdate">Leeftijd</a>
</details>

<main>
  <ul>
    {% for person in persons %}
    <li>
      <img src="{{ person.avatar }}" onerror="this.src='altperson.png'" alt="Profile Image">
      <a href="/student/{{ person.id }}">{{ person.name }}</a>
      <span class="person-info">
        <img class="refresh-btn" src="refresh.png" alt="Refreshnop">
        <span class="info-text">Geboortedatum: {{ person.birthdate | date: "%d-%m-%Y" }}</span>
      </span>
    </li>
    {% endfor %}
  </ul>
</main>

{% render 'partials/foot.liquid', squads: squads %}